{%extends "layout.html"%}
{% block content%}
    <h1> Qui sommes nous </h1>
    <p class="text-center">Nous sommes une équipe de gastronomes dévoués, engagés à transformer chaque repas en une expérience inoubliable. Notre mission est de rendre la cuisine accessible à tous, en vous offrant des recettes simples, intuitives et savoureuses. Nous croyons que cuisiner doit être une aventure amusante et enrichissante, où chaque plat est une expression de créativité. Rejoignez-nous dans cette quête culinaire et laissez-nous vous guider vers des horizons gourmands inexplorés !"</p>
{% endblock content %}