{% extends "dashboard.html"%}
{% block new_recette %}

<div class="{{'tab-pane show active fade p-3' if active_tab=='new_recette' else 'tab-pane fade p-3'}}" id="nav-newRecette"
    role="tabpanel" aria-labelledby="nav-newRecette-tab">
    <form action="/dashboard/new_recette" method="POST" enctype="multipart/form-data">
        {{ new_recette_form.hidden_tag()}}
        <legend class="border-bottom my-3">Nouvelle Recette</legend>
        <div class="mb-3">
            {{ new_recette_form.plat.label(class='form-control-label')}}
            {% if new_recette_form.plat.errors %}
            {{ new_recette_form.plat(class='form-contro is-invalid')}}
            <div class="invalid-feedback">
                {% for error in new_recette_form.plat.errors %}
                <span>{{ error }} </span>
                {% endfor %}
            </div>
            {% else %}
            {{ new_recette_form.plat(class='form-select')}}
            {% endif %}
            <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#newPlat">
                nouveau Plat?
            </button>
        </div>
        <div class="mb-3">
            {{ new_recette_form.title.label(class='form-control-label')}}
            {% if new_recette_form.title.errors %}
            {{ new_recette_form.title(class='form-control is-invalid')}}
            <div class="invalid-feedback">
                {% for error in new_recette_form.title.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ new_recette_form.title(class='form-control')}}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ new_recette_form.slug.label(class='form-control-label')}}
            {% if new_recette_form.slug.errors %}
            {{ new_recette_form.slug(class='form-control is-invalid')}}
            <div class="invalid-feedback">
                {% for error in new_recette_form.slug.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ new_recette_form.slug(class='form-control')}}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ new_recette_form.content.label(class='form-control-label')}}
            {% if new_recette_form.content.errors %}
            {{ new_recette_form.content(class='form-control is-invalid')}}
            <div class="invalid-feedback">
                {% for error in new_recette_form.content.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ new_recette_form.content(class='form-control')}}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ new_recette_form.thumbnail.label(class='form-control-label')}}
            {% if new_recette_form.thumbnail.errors %}
            {{ new_recette_form.thumbnail(class='form-control is-invalid')}}
            <div class="invalid-feedback">
                {% for error in new_recette_form.thumbnail.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ new_recette_form.thumbnail(class='form-control')}}
            {% endif %}
        </div>


        <div class="form-group">
            <div class="col-12">
                <button class="btn btn-success" type="submit">Post</button>
            </div>
        </div>
    </form>
    {{ ckeditor.load(custom_url = url_for('static', filename = 'ckeditor/ckeditor.js')) }}
    {{ ckeditor.config(name='content')}}
    <!-- Modal Contetn here -->
    <div class="modal fade" id="newPlat" tabindex="-1" aria-labelledby="newPlatModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newPlatModal">Create New Plat</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ modal_messages() }}
                    <form action="/dashboard/new_recette" method="POST" enctype="multipart/form-data">
                        {{ new_plat_form.hidden_tag() }}
                        <div class="mb-3">
                            {{ new_plat_form.title.label(class='form-control-label')}}
                            {% if new_plat_form.title.errors %}
                            {{ new_plat_form.title(class='form-control is-invalid')}}
                            <div class="invalid-feedback">
                                {% for error in new_plat_form.title.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ new_plat_form.title(class='form-control')}}
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ new_plat_form.description.label(class='form-control-label')}}
                            {% if new_plat_form.description.errors %}
                            {{ new_plat_form.description(class='form-control is-invalid')}}
                            <div class="invalid-feedback">
                                {% for error in new_plat_form.description.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ new_plat_form.description(class='form-control')}}
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            {{ new_plat_form.icon.label(class='form-control-label')}}
                            {% if new_plat_form.icon.errors %}
                            {{ new_plat_form.icon(class='form-control is-invalid')}}
                            <div class="invalid-feedback">
                                {% for error in new_plat_form.icon.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ new_plat_form.icon(class='form-control')}}
                            {% endif %}

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            {{new_plat_form.submit(class='btn btn-primary')}}
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>


{% endblock new_recette %}