{%extends "layout.html"%}
{% block content%}
<div class="container d-flex justify-content-center"  id="bgform" style="min-height: 100vh; padding-bottom: 40px;">
    <div class="w-50 bg-dark opacity-10 p-2 mt-5 rounded" style="--bs-bg-opacity: .7;">
    <form action="" method="POST">
        {{ form.hidden_tag()}}
        <fieldset class="form-group">
            <legend class="border-bottom text-light mb-2"> Créer un compte</legend>
            <div class="form-group">
                {{ form.fname.label(class='form-control-label text-light mb-2')}}
                {% if form.fname.errors%}
                {{ form.fname(class='form-control form-control is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.fname.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.fname(class='form-control form-control')}}
                {% endif %}

            </div>
            <div class="form-group">
                {{ form.lname.label(class='form-control-label  text-light mb-2')}}
                {% if form.lname.errors%}
                {{ form.lname(class='form-control form-control is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.lname.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.lname(class='form-control form-control')}}
                {% endif %}

            </div>
            <div class="form-group">
                {{ form.username.label(class='form-control-label text-light mb-2')}}
                {% if form.username.errors%}
                {{ form.username(class='form-control form-control is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class='form-control form-control')}}
                {% endif %}

            </div>
            <div class="form-group">
                {{ form.email.label(class='form-control-label text-light mb-2')}}
                {% if form.email.errors%}
                {{ form.email(class='form-control form-control is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class='form-control form-control')}}
                {% endif %}

            </div>
            <div class="form-group">
                {{ form.password.label(class='form-control-label text-light mb-2')}}
                {% if form.password.errors%}
                {{ form.password(class='form-control form-control is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class='form-control form-control')}}
                {% endif %}

            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class='form-control-label text-light mb-2')}}
                {% if form.confirm_password.errors%}
                {{ form.confirm_password(class='form-control form-control is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_password(class='form-control form-control')}}
                {% endif %}

            </div>
            <div class="form-group">
                {{ form.submit(class='btn btn-outline-info')}}
            </div>
        </fieldset>
    </form>
        <div class="broder-top pt-2 mb-5">
        <small class="text-warning">
            Vous avez déjà un compte ?
            <a href="{{url_for('users.login')}}" class="ml-2">Se connecter</a>
        </small>
        </div>
    </div>
</div>
{% endblock content %}